.user-management-pd {
    padding: 10px;
}

.user-management-token {
    height: 170px;
    width: 100%;
    background-color: rgb(191, 245, 231);
}

.user-management-header {
    background-color: rgb(246, 198, 248);
}