.header-container {
    background-color: rgb(133, 238, 238);

    h2 {
        padding: 10px;
    }
}

.part-drink {
    padding: 20px;
}

.form-btn {
    justify-content: center;
    display: flex;
}

.form-container {
    background-color: rgb(133, 238, 238);
}