.dink-display-container {
    width: 50px;
    height: 55px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.dink-display-container div {
    flex-grow: 1;
    width: 70px;
}