@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');

.header-wrapper {
    text-align: center
}

.header-title {
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background-color: rgb(246, 198, 248);
}

.display-drink {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}

.opct {
    opacity: .5;
}

.drink-menu-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.add-content {
    font-size: 55px;
    color: black;
}